.main-container{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.left-container{
    color: white;
    width: 550px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.left-container h1{
    font-size: 30px;
}

.left-container p{
    font-size: 14px;
}

/* .right-container{
    background-color: blue;
    width: 500px;
    height: 500px;
} */

#laporan{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.right-container{
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.right-container h1{
    font-size: 26px;
}

.baris-satu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.baris-dua{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-satu{
    background-color: aqua;
}

.content-dua{
    background-color: blue;
}

.content-tiga{
    background-color: blueviolet;
}

.content-empat{
    background-color: green;
}

.card{
    width: 250px;
    margin: 10px;
    box-sizing: border-box;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 15px;

}

.card h3{
    font-size: 16px;
    
}

.card h5{
    font-size: 33px;
    margin: 5px;
}

@media only screen and (max-width: 640px) {
    .left-container{
        width: 300px;
    }
  }